extends ./_layout.pug

block adminContent
  .hero
    h1.title#title= t('nav.stats')
    h2.subtitle= t('admin:stats.subtitle')
    i.pageicon.nc-icon-outline.ui-3_chart-bars
  .form-sections
    section
      label.label= t('admin:stats.entries')
      p.control= totalEntries
      label.label= t('admin:stats.uploads')
      p.control= totalUploads
      label.label= t('admin:stats.users')
      p.control= totalUsers
