extends ./_layout.pug

block rootNavRight
  loading-spinner
  .nav-item
    a.button(v-on:click='$store.dispatch("modalCreateUser/open")')
      i.nc-icon-outline.ui-1_simple-add
      span= t('admin:users.createauthorize')

block adminContent
  .hero
    h1.title#title= t('nav.users')
    h2.subtitle= t('admin:users.subtitle')
    i.pageicon.nc-icon-outline.users_multiple-19
  table.table
    thead
      tr
        th
        th= t('admin:users.name')
        th= t('admin:users.email')
        th= t('admin:users.provider')
        th= t('admin:users.createdon')
        th= t('admin:users.updatedon')
    tbody
      each usr in usrs
        tr
          td.is-icon
            i.nc-icon-outline.users_single-05.is-grey
          td
            a(href='/admin/users/' + usr._id)= usr.name
          td= usr.email
          td.is-centered.has-icons
            case usr.provider
              when 'local': i.nc-icon-outline.ui-1_database
              when 'windowslive': i.icon-windows2.is-blue
              when 'azure': i.icon-windows2.is-blue
              when 'google': i.icon-google.is-blue
              when 'facebook': i.icon-facebook.is-indigo
              when 'github': i.icon-github.is-grey
              when 'slack': i.icon-slack.is-purple
              when 'ldap': i.icon-arrow-repeat-outline
              default: i.icon-warning
            = t('auth:providers.' + usr.provider)
          td.is-centered= moment(usr.createdAt).format('lll')
          td.is-centered= moment(usr.updatedAt).format('lll')

  modal-create-user
