extends master.pug

block head
  if injectCode.css
    style(type='text/css')!= injectCode.css

block body
  #root
    editor(
      :page-id=page.id
      locale=page.localeCode
      path=page.path
      title=page.title
      description=page.description
      :tags=page.tags
      :is-published=page.isPublished
      init-mode=page.mode
      init-editor=page.editorKey
      init-content=page.content
      )
