extends ./master.pug

block body
  body(class='is-error')
    .container
      a(href='/'): img(src=config.site.path + '/images/logo.png')
      h1= message
      h2= t('errors:generic')
      a.button.is-amber.is-inverted.is-featured(href=config.site.path+ '/')= t('errors:actions.gohome')

      if error.stack
        h3= t('errors:debugmsg')
        pre: code #{error.stack}
