doctype html
html(data-logic='error')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#009688')
    meta(name='msapplication-TileColor', content='#009688')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title= appconfig.title

    // Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')

    // JS / CSS
    script(type='text/javascript', src='/js/bundle.min.js')

  body(class='is-error')
    .container
      a(href='/'): img(src='/favicons/android-icon-96x96.png')
      h1= message
      h2 Oops, something went wrong
      a.button.is-amber.is-inverted.is-featured(href='/') Go Home

      if error.stack
        h3 Detailed debug trail:
        pre: code #{error.stack}
