extends master.pug

block head
  if injectCode.css
    style(type='text/css')!= injectCode.css
  if injectCode.head
    != injectCode.head

block body
  #root
    page(
      locale=page.localeCode
      path=page.path
      title=page.title
      description=page.description
      :tags=page.tags
      created-at=page.createdAt
      updated-at=page.updatedAt
      author-name=page.authorName
      :author-id=page.authorId
      :is-published=page.isPublished.toString()
      :toc=page.toc
      :page-id=page.id
      :sidebar=sidebar
      )
      template(slot='contents')
        div(v-pre)!= page.render
  if injectCode.body
    != injectCode.body
