extends master.pug

block head
  if injectCode.css
    style(type='text/css')!= injectCode.css
  if injectCode.head
    != injectCode.head
  script.
    window.onload = function() {
      document.querySelectorAll('div.embed-page').forEach(node => {
        let [url, anc] = node.innerHTML.split('#')
        console.log('Embed Node:', url, anc)
        fetch(url, {credentials: 'same-origin'}).then(res => res.text()).then(txt => { 
          if (!anc) node.innerHTML = txt
          else if (anc.startsWith('?')) { 
            console.log('GOT ANC QUERY', anc.substring(1))
            let dom = (new DOMParser()).parseFromString(txt, 'text/html')
            let ext = dom.getElementById(anc.substring(1))
            console.log(dom)
          } else {
            let exp = new RegExp(`<h(\\d) id="${anc}".*?<\\/h\\d>([\\s\\S]+?)<(h\\1|h3|h2|h1|\\/div)`)
            let ext = exp.exec(txt)
            node.innerHTML = ext ? ext[2] : 'Not Found'
          }
        })
      })
    }
block body
  #root
    page(
      locale=page.localeCode
      path=page.path
      title=page.title
      description=page.description
      :tags=page.tags
      created-at=page.createdAt
      updated-at=page.updatedAt
      author-name=page.authorName
      :author-id=page.authorId
      :is-published=page.isPublished.toString()
      :toc=page.toc
      :page-id=page.id
      :sidebar=sidebar
      )
      template(slot='contents')
        div(v-pre)!= page.render
  if injectCode.body
    != injectCode.body
