extends master.pug

block head
  if injectCode.css
    style(type='text/css')!= injectCode.css
  if injectCode.head
    != injectCode.head
  script.
    window.onload = function() {
      document.querySelectorAll('div.embed-page').forEach(node => {
        let [url, anc] = node.innerHTML.split('#')
        fetch(url, {credentials: 'same-origin'}).then(res => res.text()).then(txt => { 
          if (!anc) node.innerHTML = txt
          else if (anc.startsWith('?')) { 
            let dom = (new DOMParser()).parseFromString(txt, 'text/html')
            let ext = dom.getElementById(anc.substring(1))
          } else {
            let exp = new RegExp(`<h(\\d) id="${anc}".*?<\\/h\\d>([\\s\\S]+?)<(h\\1|h3|h2|h1|\\/div)`)
            let ext = exp.exec(txt)
            node.innerHTML = ext ? ext[2] : 'Not Found'
          }
        })
      })
    }
  if config.features.featurePageComments
    != comments.head

block body
  #root
    page(
      locale=page.localeCode
      path=page.path
      title=page.title
      description=page.description
      :tags=page.tags
      created-at=page.createdAt
      updated-at=page.updatedAt
      author-name=page.authorName
      :author-id=page.authorId
      :is-published=page.isPublished.toString()
      toc=Buffer.from(page.toc).toString('base64')
      :page-id=page.id
      sidebar=Buffer.from(JSON.stringify(sidebar)).toString('base64')
      nav-mode=config.nav.mode
      comments-enabled=config.features.featurePageComments
      comments-permissions=Buffer.from(JSON.stringify(commentsPermissions)).toString('base64')
      comments-external=comments.codeTemplate
      )
      template(slot='contents')
        div!= page.render
      template(slot='comments')
        div!= comments.main
  if injectCode.body
    != injectCode.body
  script.
    // Replace the configs with your own configs
    //
    // databaseProvider: (String) 'wilddog' or 'firebase'
    // databaseConfig: (Object) the config object copied from your database console
    // pageURL(optional): (String) default value is current URL
    // pageTitle(optional): (String) default value is current document title
    // theme(optional): (String) 'light'(default) or 'dark'
    // locale(optional): (String) 'en'(default) or 'zh-CN'
    // defaultAvatarURL(optional): (String) default avatar is a cute fire fighter :-D
    //
    var wildfireConfig = () => ({
      databaseProvider: 'firebase',
      databaseConfig: {
        apiKey: 'AIzaSyB39UJBnIUYAQxu3zKkpyzjTZDDfHt7lzc',
        authDomain: 'wild-fire-ee770.firebaseapp.com',
        databaseURL: 'https://wild-fire-ee770.firebaseio.com',
        projectId: 'wild-fire-ee770',
        storageBucket: 'wild-fire-ee770.appspot.com',
        messagingSenderId: '655484997793'
      }
      // pageURL: YOUR_PAGE_URL,
      // pageTitle: YOUR_PAGE_TITLE,
      // theme: 'light',
      // locale: 'en',
      // defaultAvatarURL: 'https://image.flaticon.com/icons/svg/621/621863.svg'
    })
  script(src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js")
  script(src="https://unpkg.com/@chengkang/wildfire/dist/wildfire.auto.js")
  div(class=wildfire_thread)
  astar0th
  12345678
  if config.features.featurePageComments
    != comments.body
