doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=yes, width=device-width, initial-scale=1, maximum-scale=5')
    meta(name='theme-color', content='#333333')
    meta(name='msapplication-TileColor', content='#333333')
    meta(name='msapplication-TileImage', content='/favicons/ms-icon-144x144.png')
    title Wiki.js Setup

    //- Favicon
    each favsize in [57, 60, 72, 76, 114, 120, 144, 152, 180]
      link(rel='apple-touch-icon', sizes=favsize + 'x' + favsize, href='/favicons/apple-icon-' + favsize + 'x' + favsize + '.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/favicons/android-icon-192x192.png')
    each favsize in [32, 96, 16]
      link(rel='icon', type='image/png', sizes=favsize + 'x' + favsize, href='/favicons/favicon-' + favsize + 'x' + favsize + '.png')
    link(rel='manifest', href='/manifest.json')

    //- Site Lang
    script.
      var siteConfig = !{JSON.stringify({ title: config.title })}

    //- CSS
    
      
    link(
      type='text/css'
      rel='stylesheet'
      href='/css/setup.35a646a90c01e5e5f6f5.css'
      integrity='sha256-HNu607cPBzAhzYo8xjvM307b5k18J+Vr2OWTFlMuiIw= sha512-b0KTirC8Myjz1FnIYY9fFrYoexiVj7/3N3TeuHU+IfCx2ZM+uMilVoZPe4sBC+xXTuuJIoJWwgjH3ZI1Lt6eAQ=='
      crossorigin='use-credentials'
    )
      
    

    //- JS
    
      
    script(
      type='text/javascript'
      src='/js/runtime.fc95297b6e8ae6e2e003.js'
      integrity='sha256-6bZfGqlPATFeFRP90SGQYPuIILZahs+tXrS/eQdEUzc= sha512-tBIg4dA1HmUAT8xl3YuZu9eyiB1KWmSkI74kM2bi+BzZe12YXogJ5PHNzxb+Cnw6fjavInmnljB4X1QFzumrUw=='
      crossorigin='use-credentials'
      )
      
    
      
    script(
      type='text/javascript'
      src='/js/setup.35a646a90c01e5e5f6f5.js'
      integrity='sha256-DS7oIW0jf1JjTIBH/NfUxFTx9ZCUd67yy0OdZ4+PqZc= sha512-dHe0IsiBCGYirAl+JqFIjQEtG/sV/QShDoppFskoqunXxGnzqM1zphxfRCX8ooKLaQrGfW9F8HNBVsUSK02HNg=='
      crossorigin='use-credentials'
      )
      
    

  body
    #root
      setup(telemetry-id=telemetryClientID, wiki-version=packageObj.version)
