extends master.pug

block body
  #root
    .login-deprecated!= t('outdatedBrowserWarning', { modernBrowser: '<a href="https://bestvpn.org/outdatedbrowser/en" rel="nofollow">' + t('modernBrowser') + '</a>', interpolation: { escapeValue: false } })
    .login
      .login-dialog
        if err
          .login-error= err.message
        form(method='post', action='/login')
          h1= config.title
          select(name='strategy')
            each str in formStrategies
              option(value=str.key, selected)= str.title
          input(type='text', name='user', placeholder=t('auth:fields.emailUser'))
          input(type='password', name='pass', placeholder=t('auth:fields.password'))
          button(type='submit')= t('auth:actions.login')
        if socialStrategies.length
          .login-social
            h2= t('auth:orLoginUsingStrategy')
            each str in socialStrategies
              a.login-social-icon(href='/login/' + str.key, class=str.color)
                != str.icon
