extends ../../layout.pug

block rootNavCenter
  h2.nav-item= t('nav.settings')

block rootNavRight
  loading-spinner
  .nav-item
    a.button.btn-edit-discard(href='/')
      i.nc-icon-outline.ui-1_home-minimal
      span= t('nav.root')

block content

  #page-type-account
    .container.is-fluid
      .columns.is-gapless

        .column.is-narrow.is-hidden-touch.sidebar

          aside
            .sidebar-label
              span= t('sidebar.navigation')
            ul.sidebar-menu
              li
                a(href='/')
                  i.nc-icon-outline.ui-1_home-minimal
                  span= t('nav.root')

          aside
            .sidebar-label
              span= t('nav.account')
            ul.sidebar-menu
              li
                a(href='/admin/profile')
                  i.nc-icon-outline.business_business-contact-86
                  span= t('nav.myprofile')
              li
                a(href='/admin/stats')
                  i.nc-icon-outline.ui-3_chart-bars
                  span= t('nav.stats')
              if rights.manage
                li
                  a(href='/admin/users')
                    i.nc-icon-outline.users_multiple-19
                    span= t('nav.users')
                li
                  a(href='/admin/theme')
                    i.nc-icon-outline.ui-1_drop
                    span= t('nav.theme')
                //-li
                  a(href='/admin/settings')
                    i.nc-icon-outline.ui-1_settings-gear-63
                    span= t('nav.syssettings')
                li
                  a(href='/admin/system')
                    i.nc-icon-outline.objects_planet
                    span= t('nav.sysinfo')
              li
                a(href='/logout')
                  i.nc-icon-outline.arrows-1_log-out
                  span= t('nav.logout')

        .column
          block adminContent
