extends ../layout.pug

block rootNavCenter
  h2.nav-item= t('header.createdoc')

block rootNavRight
  loading-spinner
  span.nav-item
    a.button.is-outlined(v-on:click='$store.dispatch("modalDiscardPage/open")')
      i.nc-icon-outline.ui-1_simple-remove
      span= t('nav.discard')
    a.button(v-on:click='$root.$emit("editor/save")')
      i.nc-icon-outline.ui-1_check
      span= t('nav.savedocument')

block content
  editor(inline-template, current-path=pageData.meta.path, v-cloak)
    .editor-area
      textarea(ref='editorTextArea', v-pre)= pageData.markdown

  editor-file
  editor-video
  editor-codeblock
  modal-discard-page(mode='create', current-path=pageData.meta.path)
  page-loader(text=t('loading.editor'))
