extends ../layout.pug

block rootNavCenter
  h2.nav-item= pageData.meta.title

block rootNavRight
  loading-spinner
  span.nav-item
    if rights.write
      a.button.is-outlined.btn-move-prompt.is-hidden
        i.icon-shuffle
        span= t('nav.move')
    a.button.is-outlined(href='/' + pageData.meta.path)
      i.icon-loader
      span= t('nav.normalview')
    if rights.write
      a.button.is-orange(href='/edit/' + pageData.meta.path)
        i.fa.fa-edit
        span= t('nav.edit')
      a.button.is-blue.btn-create-prompt
        i.fa.fa-plus
        span= t('nav.create')

block content

  source-view(inline-template, data-entrypath=pageData.meta.path, v-cloak)
    .ace-container
      #source-display= pageData.markdown

  include ../modals/create.pug
  include ../modals/move.pug
  page-loader(text=t('loading.source'))
